<form xmlns:th="http://www.thymeleaf.org" th:action="@{/admin/edit-gym/} + ${gym.id}" th:object="${gym}" method="POST" id="editGymForm">
    <div class="form-group row">
        <label for="editGymName" class="col-sm-4 col-form-label">Gym name</label>
        <div class="col-sm-5">
            <input type="text" th:value="${gym.name}" class="form-control" id="editGymName" name="name" />
        </div>
    </div>
    <div class="form-group row">
        <label for="editGymAddress" class="col-sm-4 col-form-label">Address</label>
        <div class="col-sm-5">
            <input type="text" th:value="${gym.address}" class="form-control" id="editGymAddress" name="address"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="editGymCapacity" class="col-sm-4 col-form-label">Capacity</label>
        <div class="col-sm-5">
            <input type="text" th:value="${gym.capacity}" class="form-control" id="editGymCapacity" name="capacity"/>
        </div>
    </div>
</form>