<head th:fragment="baseHead(title, links, scripts)" xmlns:th="http://www.thymeleaf.org">
    <title th:replace="${title}">Retentio</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />

    <!-- default styles and scripts -->
    <link rel="stylesheet" th:href="@{/css/lib/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script type="text/javascript" th:src="@{/scripts/lib/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/lib/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/lib/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/main.js}"></script>

    <!-- placeholder for additional links -->
    <th:block th:replace="${links}" />

    <!-- placeholder for additional scripts -->
    <th:block th:replace="${scripts}" />
</head>